<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}

    <meta charset="UTF-8">
    <title>{% block title %}Play roborally{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'roborally/css/roborally.css' %}">
    <script src="{% static 'roborally/js/fabric.min.js' %}" defer></script>
    <script src="{% static 'roborally/js/bootstrap.bundle.min.js' %}" defer></script>
    <script src="{% static 'roborally/js/roborally.js' %}" defer></script>
</head>
<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>